.movement-wrapper {
	border: solid 1px #000;
	position: relative;
	width: 100%;
	font-size: 20px;
}
.navbar {
	margin: 0;
	font-weight: bold;
	background-image: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
}

.navbar .nav .active a {
	box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
	background-color: #e5e5e5;
}

.logout {
    padding: 15px 15px;
    display: block;
    display: inline-block;
}

h1 {
	text-align: center;
	margin-bottom: 30px;
}

.movement-wrapper span {
	position: absolute;
    width: 30px;
    height: 30px;
    padding: 5px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}

#span1 {
	top: 0;
	left: 0;
}

#span2 {
	top: 0;
	left: 50%;
}

#span3 {
	top: 0;
	right: 0;
}


#span4 {
	top: calc(50% - 15px);
	left: 0;
}

#span5 {
	top: calc(50% - 15px);
	left: 50%;
}

#span6 {
	top: calc(50% - 15px);
	right: 0;
}

#span7 {
	bottom: 0;
	left: 0;
}

#span8 {
	bottom: 0;
	left: 50%;
}

#span9 {
	bottom: 0;
	right: 0;
}

#circle {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid black;
	background-color: blue;
}


/*------------ADMIN PAGE-----------------*/
.admin-movement_wrapper {
	height: 300px;
	margin: 0 10%;
    width: 80%;
}

.form-container {
	margin-top: 30px;
	border-radius: 5px;
	border: 1px solid #e5e5e5;
	padding: 15px;
	margin-bottom: 10px;
}

.form-container .parts-list {
	margin: 0;
}

.blink-check, .hide-check {
	display: block;
}

.parts-action-container {
	padding-top: 25px;
	text-align: center;
}

.add-part-row {
	margin-top: 10px;
	margin-bottom: 25px;
}

/*-------------EXERCISE PAGE-------------*/

.exercise-movement_wrapper {
	height: 100vh;
}

.hidden {
	display: none;
}

.not-shown {
	visibility: hidden;
}

.exercise-movement_wrapper span {
	visibility: hidden;
}

.exercise-movement_wrapper .clock-container {
	font-size: 50px;
	line-height: 1;
	font-weight: bold;
	position: absolute;
	top: calc(50% - 50px);
	left: calc(50% - 90px);
}

.exercise-movement_wrapper #circle {
	display: none;
}

.exercise-movement_wrapper .action-btn-container {
	position: absolute;
	top: calc(50% - 50px);
	left: calc(50% - 240px);
}


.blink {
  animation: blinker linear infinite;
  backface-visibility: hidden;
  transform: scale(1);
  transform-style: preserve-3d;
}

@keyframes blinker {
	 0% { opacity: 1; }
     49% { opacity: 1; }
     50% { opacity: 0; }
    100% { opacity: 0; }
}
/*
.blink {
  animation: blink-animation steps(2, start) infinite;
  -moz-animation: blink-animation steps(2, start) infinite;
  background-color: rgba(255,255,255,.01);
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-moz-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
*/
.position-transition {
  /*transition: top, left, right, bottom;*/
  transition-property: transform;
  transition-timing-function: linear;

  /*transform: translate(0, 0);*/
  /*-webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   backface-visibility: hidden;

   -webkit-perspective: 1000;
   -moz-perspective: 1000;
   perspective: 1000;*/
}

/*--------------transition-------------------------------------*/

.list-group {
	font-size: 14px;
	font-weight: bold;
}

.list-group-item {
	min-height: 56px;
}

.list-group-item a {
	line-height: 34px;
}


.exercise-page .modal-dialog {
  position: relative;
  height: 100vh;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/*---------------login---------------------------*/
/*
 * Specific styles of signin component
 */
/*
 * General styles
 */
.login-container {
    height: 100vh;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
    padding: 30px;
}

.login-container h1 {
	color: #fff; 
	font-weight: bold;
}

.login-container .card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.login-container .btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.login-container .card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-container .profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.login-container .profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.login-container .reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.login-container .btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.login-container .btn.btn-signin:hover,
.login-container .btn.btn-signin:active,
.login-container .btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}