<h1>Admin page</h1>
<div class="">
	<div class="container form-container">
		<form class="form" id="user-form" data-toggle="validator">
		 		<legend class="col-form-legend">Create User</legend>
		    <div class="form-group has-feedback">
		        <label for="email" class="cols-sm-2">Email</label>
		        <div class="cols-sm-10">
		            <div class="input-group ">
		                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
		                <input type="text" class="form-control" name="email" id="email-input" placeholder="Enter your Email" data-required-error="The email is required." required>
		                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
		            </div>
		            
					  <div class="help-block with-errors"></div>

		        </div>
		          
		    </div>
		    <div class="form-group has-feedback">
		        <label for="password" class="cols-sm-2">Password</label>
		        <div class="cols-sm-10">
		            <div class="input-group">
		                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
		                <input type="password" class="form-control" name="password" id="password-input" placeholder="Enter your Password" data-required-error="The password is required." required>
		                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
		            </div>
		            <div class="help-block with-errors"></div>
		        </div>
		    </div>
		    <div class="form-group has-feedback">
		        <label for="password" class="cols-sm-2">Repeat Password</label>
		        <div class="cols-sm-10">
		            <div class="input-group">
		                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
		                <input type="password" class="form-control" name="password" id="password-input-repeat" placeholder="Re-enter your Password" data-required-error="The password is required." required>
		                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
		            </div>
		            <div class="help-block with-errors"></div>
		         </div>
		    </div>
		    <button type="submit" class="btn btn-lg btn-primary btn-block btn-save-user" >Save</button>
		</form><!-- /form -->
		
	</div>
	
</div>

<h3>List of Users</h3>
<ul class="list-group">
	{{#userArray}}
	<li class="list-group-item" data-id="{{_id}}"> 
		<a href="#">{{email}}</a>  <div class="btn-group pull-right">
    <!--<button type="button" class="btn btn-default btn view-user"><i class="glyphicon glyphicon-eye-open"></i></button> -->
    {{#ifNotEquals email "admin"}}
	    <button type="button" class="btn btn-default btn edit-user"><i class="glyphicon glyphicon-pencil"></i></button>  
	    <button type="button" class="btn btn-default btn delete-user"><i class="glyphicon glyphicon-trash"></i></button>
    {{/ifNotEquals}}
    </div>
  </li>
   {{/userArray}}
</ul>
