<h1>Admin page</h1>
<div class="row">
	<div class="col-sm-4 form-container">
		<form class="form">
		    <div class="form-group">
		        <label for="email" class="cols-sm-2">Email</label>
		        <div class="cols-sm-10">
		            <div class="input-group">
		                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
		                <input type="text" class="form-control" name="email" id="email-input" placeholder="Enter your Email">
		            </div>
		        </div>
		    </div>
		    <div class="form-group">
		        <label for="password" class="cols-sm-2">Password</label>
		        <div class="cols-sm-10">
		            <div class="input-group">
		                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
		                <input type="password" class="form-control" name="password" id="password-input" placeholder="Enter your Password">
		            </div>
		        </div>
		    </div>
		    <div class="form-group">
		        <label for="password" class="cols-sm-2">Repeat Password</label>
		        <div class="cols-sm-10">
		            <div class="input-group">
		                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
		                <input type="password" class="form-control" name="password" id="password-input-repeat" placeholder="Re-enter your Password">
		            </div>
		        </div>
		    </div>
		    <button class="btn btn-lg btn-primary btn-block btn-save" >Save</button>
		</form><!-- /form -->
		
	</div>
	
</div>

<h3>List of Users</h3>
<ul class="list-group">
	{{#userArray}}
	<li class="list-group-item"> 
		<a href="/user-creator.html">{{email}}</a>  <div class="btn-group pull-right">
    <!--<button type="button" class="btn btn-default btn view-user"><i class="glyphicon glyphicon-eye-open"></i></button> -->
    <button type="button" class="btn btn-default btn edit-user"><i class="glyphicon glyphicon-pencil"></i></button>  
    <button type="button" class="btn btn-default btn delete-user"><i class="glyphicon glyphicon-trash"></i></button>
    </div>
  </li>
   {{/userArray}}
</ul>
