<h1>Admin Area</h1>
<div class="movement-wrapper admin-movement_wrapper">
  <div id="circle"></div>
  <span id="span1">1</span>
  <span id="span2">2</span>
  <span id="span3">3</span>
  <span id="span4">4</span>
  <span id="span5">5</span>
  <span id="span6">6</span>
  <span id="span7">7</span>
  <span id="span8">8</span>
  <span id="span9">9</span>
</div>
<div class="container form-container">
  <form id="exercise-form" data-toggle="validator" role="form">
     <legend class="col-form-legend col-sm-12">Create Exercise</legend>
     <div class="row">
      <div class="col-sm-12 ">
        <label class="col-2 col-form-label">Exercise Name</label>
        <div class="form-group col-10 has-feedback">
          <input id="name-input" class="form-control"  type="text" required placeholder="Enter the exercise name" value="{{exercise.name}}"   data-required-error="The exercise name is required.">
          <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
          <div class="help-block with-errors"></div>
        </div>
      </div>
    </div>
     <div class="row">
      <div class="col-sm-6">
        <label for="example-number-input" class="col-2 col-form-label">Rest time (in secs)</label>
        <div class="col-10 has-feedback form-group">
          <input id="rest-input" class="form-control" type="number" value="{{exercise.rest}}"  min="0" max="60" required data-required-error="The rest time is required.">
          <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
          <div class="help-block with-errors"></div>
        </div>
      </div>
      <div class="col-sm-6">
        <label for="example-number-input" class="col-2 col-form-label">Number of reps</label>
        <div class="col-10 has-feedback form-group">
          <input id="reps-input" class="form-control" type="number" value="{{exercise.reps}}"  required min="1" data-required-error="The # of reps is required.">
          <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
          <div class="help-block with-errors"></div>
        </div>
      </div>
    </div>

      <ul class="list-group row parts-list">
        {{#exercise.parts}}
        <li class="list-group-item col-sm-12 parts-list-item" data-id="{{@index}}">
           <div class="col-sm-2 form-group">
            <label class="form-check-label">From</label>
            <select id="from-input-{{@index}}" class="form-control from-input" data-equals="foo">
            {{#fromOptions}}
              <option value="{{val}}" {{#sel}}selected{{/sel}}>{{val}}</option>
            {{/fromOptions}}
            </select>
            <div class="help-block with-errors"></div>
          </div>
          <div class="col-sm-2">
            <label class="form-check-label">To</label>
            <select id="to-input-{{@index}}" class="form-control to-input">
            {{#toOptions}}
              <option value="{{val}}" {{#sel}}selected{{/sel}}>{{val}}</option>
            {{/toOptions}}
            </select>
          </div>

          <div class="col-sm-2">
            <label for="example-number-input" class="col-2 col-form-label">Duration time (in secs)</label>
            <div class="col-10 has-feedback form-group">
              <input id="" class="form-control duration-input" type="number" value="{{duration}}" step=0.1 min="0.1" required data-required-error="The duration is required.">
              <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-sm-2 form-group">
            <div class="form-check">
              <label class="form-check-label">
                Blink
              </label>
              <input id="" class="form-check-input blink-check" type="checkbox" {{#blink}} checked="checked"{{/blink}}>
            </div>
          </div>
          <div class="col-sm-2 form-group">
            <label for="example-number-input" class="col-2 col-form-label">Blink speed (1-16)</label>
            <div class="col-10">
              <input id="" class="form-control blink-speed-input" type="number" value="{{blinkSpeed}}"  min="1" max="16" {{^blink}}disabled{{/blink}}>
            </div>
          </div>
          {{#if @index}}
          <div class="col-sm-2 parts-action-container">
            <button type="button" id="remove-part-btn" class="btn btn-danger"><i class="glyphicon glyphicon-minus"></i></button>
          </div>
          {{/if}}
        </li> 
      {{/exercise.parts}}
        
      </ul>

    <div class="row add-part-row">
      <div class="col-sm-2">
        <button type="button" id="add-part-btn" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i></button>
        <label>Add Part</label>
      </div>
    </div>
    <div class="row">
      {{^editMode}}
      <div class="col-sm-1">
        <button id="submit-btn" type="submit" class="btn btn-primary">Save</button>
      </div>
      {{/editMode}}
      {{#editMode}}
      <div class="col-sm-1 form-group">
        <button id="update-btn" type="submit" class="btn btn-primary">Update</button>
      </div>
      {{/editMode}}
    </div>
  </form>
</div>
