<div id="fullscreen-alert" class="alert alert-success" role="alert">
  <strong>Press F11 to go to fullscreen mode and start the exercise</strong>
</div>
<div class="movement-wrapper exercise-movement_wrapper hidden">
	<div class="action-btn-container btn-group-vertical hidden">
		<button type="button" id="start-animation-btn" class="btn btn-primary btn disabled btn-lg">Play exercise</button>
		<!--<button type="button" id="return-list-btn" class="btn btn-default btn">Go to exercise list</button>-->
		<label>Or press F11 to go to out from fullscreen mode</label>
	</div>
	<div id="clock" class="clock-container hidden"></div>
    <div id="circle"></div>
    <span id="span1">1</span>
    <span id="span2">2</span>
    <span id="span3">3</span>
    <span id="span4">4</span>
    <span id="span5">5</span>
    <span id="span6">6</span>
    <span id="span7">7</span>
    <span id="span8">8</span>
    <span id="span9">9</span>    
</div>