<nav class="navbar navbar-default">
	<div class="container-fluid">
	  <div class="navbar-header">
	    <a class="navbar-brand" href="index.html">Eye Exercise App</a>
	  </div>
	  <ul class="nav navbar-nav">
	    <li {{#adminActive}}class="active"{{/adminActive}}><a href="exercise-creator.html">Exercise Creator</a></li>
	    <li {{#listActive}}class="active"{{/listActive}}><a href="exercise-list.html">Exercise List</a></li>
	  </ul>
	   <div class="navbar-header pull-right">
	    <a class="logout" href="login.html">Logout</a>
	  </div>
	</div>
</nav>